/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
}

.accent-color {
    color: #fd9222;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 367px;
    padding: 0 16px;
    margin: auto;
}

/* ============== MOBILE HEADER ============== */

.menu {
    display: none;
}

.social-list {
    display: none;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #111111;
}

.logo-icon {
    fill: #fcf1e0;
    stroke: #fd9222;
    margin-left: 4px;
}

@media screen and (max-width: 767px) {

.page-header {
    padding-top: 20px;
    padding-bottom: 14px;
    }

.mobile-menu-open-btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    stroke: #111111;
}

 .mobile-menu-wrapper {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 99999999;
     width: 100%;
     height: 100%;
     background-color: #1e1823;

     transform: translateX(100%);
     transition: transform 250ms linear;
 }

 .mobile-menu-wrapper.is-open {
     transform: translateX(0%);
 }

 .mobile-menu-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    padding: 136px 48px 0px 48px;
    min-width: 220px;
 }

.mobile-menu-close-btn {
    position: absolute;
    top: 20px;
    right: 16px;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    stroke: #FFFFFF;

 }

 .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
   }

 .mobile-menu-link {
     font-size: 14px;
     font-weight: 500;
     line-height: 1.14;
     letter-spacing: -0.02em;
     color: #FFF;
 }

 .orange-color {
    color: #FD9222;
 }

 .mobile-menu-social-list {
    display: flex;
    position: absolute;
    margin-top: auto;
    gap: 16px;
    bottom: 20px;
    left: 20px;
 }

 .mobile-menu-social-list-link {
    stroke: #FFFFFF;
    fill: none;
 }

 /* ============== /MOBILE HEADER ============== */
}
 /* ============== MOBILE HERO ============== */

 .hero {
    width: 335px;
    padding: 499px 16px 21px 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: rgba(17, 17, 17, 0.40);
    background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                rgba(17, 17, 17, 0.40) 100%),
            url(../images/hero/bg-mob1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .hero {
         background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                 rgba(17, 17, 17, 0.40) 100%),
             url(../images/hero/bg-mob2.jpg);
     }
 }

 .main-title {
    width: 291px;
    height: 72px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
 }

 .hero-bottom-block {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 14px;
 }

 .buy-now-btn {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    min-width: 121px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 100px;
    padding: 12px 28px;
    background-color: #fd9222;
    color: #ffffff;
    transition: background-color 250ms linear, color 250ms linear;
 }

 .how-made-link {
    display: flex;
    align-items: flex-start;
     min-width: 159px;
    height: 41px;
     padding: 12px 28px;
     font-size: 14px;
     font-weight: 600;
     text-align: center;
     border-radius: 100px;
     border: 1px solid #ffffff;
     margin-right: auto;
     color: #ffffff;
     transition: border 250ms linear, color 250ms linear;
 }

 .scroll-down-link {
     font-size: 12px;
     font-weight: 500;
     line-height: 1.16;
     letter-spacing: -0.03em;
     color: #ffffff;
     display: flex;
     align-items: center;
     transition: color 250ms linear;
     gap: 14px;
 }

 .icon-scroll-down {
     fill: #FD9222;
     background-color: #fff;
     border-radius: 50px;
     padding: 6px;
     box-sizing: content-box;
     transition: fill 250ms linear, background-color 250ms linear;
  }

    /* ============== /MOBILE HERO ============== */

    /* ============== MOBILE BENEFITS ============== */

 .icon {
    display: flex;
    width: 62px;
    height: 62px;
    justify-content: center;
    align-items: center;
    gap: 7.303px;
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 22px;
 }

 .icon-benefits {
     fill: #FD9222;
 }
  
 .benefits {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1E1823;
    margin-top: 60px;
    margin-bottom: 30px;
 }

 .benefits-list-title {
     font-size: 18px;
     font-weight: 600;
     color: #FFF;
     line-height: normal;
     margin-bottom: 18px;
 }

 .benefits-list-item {
   width: 308px;
 }

 .benefits-list {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
 }

 .benefits-list-text {
     color: rgba(255, 255, 255, 0.70);
     font-size: 14px;
     font-weight: 400;
     line-height: 1.29;
     letter-spacing: -0.02em;
    font-style: normal;
    line-height: normal;
 }

 /* ============== /MOBILE BENEFITS ============== */

 /* ============== MOBILE INGREDIENTS ============== */

 .ingredients {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding-bottom: 30px;
 }

 .ingredients-section-title {
    width: 283px;
    color: #111;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    
  }

 .ingredients-description {
     width: 335px;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 1.29;
     letter-spacing: -0.02em;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 32px;
     color: #111111;
 }

 .ingredients-list-title {
     font-size: 14px;
     font-weight: 600;
     line-height: 1.29;
     letter-spacing: -0.02em;
     text-transform: uppercase;
     padding-top: 25px;
     margin-left: auto;
    margin-right: auto;
    
 }

 .ingredients-list {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .ingredients-list-item {
     position: relative;
    width: 335px;
    height: 270px;

     overflow: hidden;
     padding: 28px 55px 71px 56px;
     border-radius: 15px;
     border: 1px solid #fd9222;
 }

 .ingredients-list-item:nth-child(4n + 1) {
     color: #ffffff;
     background-color: #fd9222;
 }

 .ingredients-list-item:nth-child(even) {
     background-color: #ffffff;
 }

 .ingredients-list-item:nth-child(4n + 3) {
     color: #ffffff;
     background-color: #1e1823;
     border-color: #1e1823;
 }

 .ingredients-list-img {
     margin-bottom: 36px;
 }

 .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border-radius: 15px;
     padding: 20px;
     overflow: auto;
     transform: translateY(100%);
     background-color: #ffffff;
     transition: transform 250ms linear;
 }

 .ingredients-list-item:hover .overlay {
     transform: translateY(0%);
 }

 .overlay p {
     color: #111;
 }

 .list-block-overlay {
     display: flex;
     gap: 6px;
     margin-bottom: 14px;
 }

 .link-overlay-taste {
     color: #FFF;
     font-size: 10px;
     font-weight: 400;
     line-height: 1.2;
     border-radius: 35px;
     background: #FD9222;
     padding: 6px 16px;
     align-items: center;
     min-width: 81px;
 }

 .link-overlay-benefits {
     color: #111;
     font-size: 10px;
     font-weight: 400;
     line-height: 1.2;
     padding: 6px 16px;
     border-radius: 35px;
     border: 1px solid #FD9222;
     background-color: #FAFAFA;
     min-width: 93px;
 }

 /* ============== /MOBILE INGREDIENTS ============== */

 /* ============== MOBILE HOW MADE ============== */

 .section-title {
     color: #111111;
     text-align: center;
     font-size: 20px;
     font-weight: 600;
     line-height: 1.2;
     letter-spacing: -0.03em;
     text-transform: uppercase;
     margin-top: 30px;
     padding-bottom: 32px;
 }

 .accent-color {
     color: #FD9222;
 }

 .how-made-content-wrapper {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .how-made-text-wrapper {
     flex-grow: 1;
     padding: 20px 14px;
     border-radius: 15px;
     background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .how-made-list {
    padding-left: 16px;
 }

 .how-made-title {
     font-size: 18px;
     font-weight: 600;
     line-height: 1.33;
     color: #111111;
     display: block;
     margin-bottom: 20px;
     width: 307px;
 }

 .how-made-list-item {
     font-size: 14px;
     font-weight: 400;
     line-height: 1.29;
     letter-spacing: -0.02em;
     color: #111111;
     width: 291px;
 }

 .how-made-list-item:not(:last-child) {
     margin-bottom: 24px;
 }

 /* ============== /MOBILE HOW MADE ============== */

/* ============== MOBILE REVIEWS ============== */

.review-foto-1 {
    display: none;
}

.review-foto-2 {
    display: none;
}

.reviews {
    display: flex;
    width: 335px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.review-title {
    color: #111;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 74px;
}

.reviews-list {
    display: flex;
    margin-bottom: 20px;
}

.reviews-list-item {
 position: relative;
 border-radius: 15px;
 border: 1px solid rgba(17, 17, 17, 0.10);
 box-shadow: 0px 9.04932px 100px 0px rgba(17, 17, 17, 0.03);
 padding-top: 56px;
 padding-right: 18px;
 padding-left: 18px;
 padding-bottom: 42px;
 background-color: #fff;
 width: 335px;   
 }

 .reviews-list-avatar {
     position: absolute;
     top: -42px;
     left: 132px;
     z-index: 999;
 }

 .reviews-list-fullname {
     font-size: 18px;
     font-weight: 600;
     line-height: 1.33;
     text-align: center;
     color: #111111;
     margin-bottom: 24px;
 }

 .reviews-list-text {
     font-size: 14px;
     font-weight: 400;
     line-height: 1.29;
     letter-spacing: -0.02em;
     text-align: center;
     color: rgba(17, 17, 17, 0.7);
 }

 .scroll-block-reviews {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 13px;
    padding-bottom: 32px;
 }

 .icon-scroll-elipse {
    fill: rgba(17, 17, 17, 0.10);
 }

 .leave-review-btn {
     font-size: 14px;
     font-weight: 600;
     color: #111111;
     display: block;
     width: 165px;
     height: 41px;
     padding: 12px 28px;
     background-color: #FFFFFF;
     gap: 14px;
     border-radius: 100px;
     border: 1px solid #FD9222;
     margin: auto;
    transition: background-color 250ms linear, color 250ms linear;
 }

/* ============== /MOBILE REVIEWS ============== */

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }

 /* ============== TABLET HEADER ============== */

    .mobile-menu-open-btn {
         display: none;
    }
    
    .mobile-menu-wrapper {
        display: none;
    }

    .menu {
        display: flex;
        gap: 24px;
    }

    .page-navigation {
        width: 590px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-link {
        display: block;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.02em;
        padding-top: 32px;
        padding-bottom: 32px;
        color: #111111;
        transition: color 250ms linear;
    }
    
    .menu-link:hover,
    .menu-link:focus {
        color: #fd9222;
    }

    .social-list {
        display: flex;
        column-gap: 18px;
        padding-left: 48px;
    }
    
    .social-list-link {
        display: block;
        line-height: 0;
        stroke: #111111;
        fill: none;
        transition: stroke 250ms linear;
    }

    .social-list-link:hover,
    .social-list-link:focus {
        stroke: #fd9222;
    }

/* ============== /TABLET HEADER ============== */

/* ============== TABLET HERO ============== */
.hero {
    width: 704px;
    padding: 671px 40px 40px 40px;
    background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                rgba(17, 17, 17, 0.40) 100%),
            url(../images/hero/bg-tab1.jpg);
}

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .hero {
         background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                 rgba(17, 17, 17, 0.40) 100%),
             url(../images/hero/bg-tab2.jpg);
     }
 }

 .main-title {
    width: 484px;
    height: 102px;
    font-size: 28px;
 }

 .buy-now-btn {
    min-width: 144px;
    padding: 14px 40px;
 }

 .buy-now-btn:hover,
 .buy-now-btn:focus {
     background-color: #fcf1e0;
     color: #fd9222;
 }

 .how-made-link {
     min-width: 183px;
    height: 45px;
     padding: 14px 40px;
 }

 .how-made-link:hover,
 .how-made-link:focus {
     color: #fd9222;
     border-color: #fd9222;
 }

 .scroll-down-link {
    font-size: 14px;
    line-height: 1.29;
 }

 .scroll-down-link:hover,
 .scroll-down-link:focus {
     color: #fd9222;
 }

 .icon-scroll-down {
    padding: 8px;
 }

 .scroll-down-link:hover .icon-scroll-down {
     fill: #fff;
     background-color: #FD9222;
 }

/* ============== /TABLET HERO ============== */

/* ============== TABLET BENEFIT ============== */

.benefits {
    padding-top: 50px;
}

.benefits-list {
    gap: 32px;
}

.benefits-list-item {
    width: 336px;
    height: 244px;
    padding-right: 28px;
}

/* ============== /TABLET BENEFIT ============== */

/* ============== TABLET INGREDIENTS ============== */

.ingredients {
    margin-bottom: 40px;
}

.ingredients-section-title {
    width: 411px;
    height: 56px;
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 28px;
}

.ingredients-description {
    width: 486px;
    margin-bottom: 50px;
}

.ingredients-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 704px;
    gap: 32px;
}

/* ============== /TABLET INGREDIENTS ============== */

/* ============== TABLET HOW MADE ============== */

.how-made-content-wrapper {
    width: 614px;
    margin-left: auto;
    margin-right: auto;
}

.how-made-text-wrapper {
    align-items: flex-start;
}

.how-made-title {
    width: 350px;
}

.how-made-list-item {
    width: 464px;
}

.how-made-list-item:not(:last-child) {
    margin-bottom: 18px;
}

/* ============== /TABLET HOW MADE ============== */

/* ============== TABLET REVIEWS ============== */

@media screen and (min-width: 768px) and (max-width: 1167px) {
    .container {
            padding-left: 0%;
        }
}

.review-foto-1 {
    display: block;
}

.reviews {
    width: 704px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.reviews-list {
    gap: 16px;
    margin-bottom: 32px;
}

.reviews-list-item {
    width: 344px;
    padding: 56px 16px 42px 16px;
    padding-left: 32px;
}

.review-title {
    margin-bottom: 92px;
}

/* ============== /TABLET REVIEWS ============== */

}

@media screen and (min-width: 1168px) {
    .container {
        max-width: 1168px;
    }

/* ============== DESKTOP HEADER ============== */

    .page-navigation {
        width: 980px;
    }
    
    .logo {
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.03em;
    }

/* ============== /DESKTOP HEADER ============== */

/* ============== DESKTOP HERO ============== */

.hero {
    width: 1136px;
    padding: 381px 40px 40px 40px;
    background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
            rgba(17, 17, 17, 0.40) 100%),
        url(../images/hero/bg-desk1.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                rgba(17, 17, 17, 0.40) 100%),
            url(../images/hero/bg-desk2.jpg);
    }
}

/* ============== /DESKTOP HERO ============== */

/* ============== DESKTOP BENEFIT ============== */

.benefits-list .current-benefits::after {
    content: "";
    width: 1px;
    height: 124px;
    display: block;
    color: #FFF;
    background: rgba(255, 255, 255, 0.50);
    position: absolute;
    right: -0px;
    top: 70px;
}

.current-benefits {
    position: relative;
}

.benefits {
   padding: 50px;
}

.benefits-list {
    flex-wrap: nowrap;
    gap: 70px;
    }

.benefits-list-item {
   width: 308px;
   padding-right: 18px;
    }

/* ============== /DESKTOP BENEFIT ============== */

/* ============== DESKTOP INGREDIENTS ============== */

.ingredients {
    margin-top: 100px;
}

.ingredients-list {
    flex-wrap: nowrap;
    width: 1136px;
    gap: 19px;
}

.ingredients-list-item {
    padding: 32px 28px;
    width: calc((100% - 57px) / 4);
}

/* ============== DESKTOP INGREDIENTS ============== */

/* ============== DESKTOP HOW MADE ============== */

.section-title {
    font-size: 24px;
    margin-top: 100px;
    padding-bottom: 50px;
}

.how-made-content-wrapper {
    column-gap: 20px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

/* ============== /DESKTOP HOW MADE ============== */

/* ============== DESKTOP REVIEWS ============== */

.scroll-block-reviews {
    display: none;
}

.review-foto-2 {
    display: block;
}

.reviews {
    width: 1136px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}

.reviews-list-item {
    width: 360px;
    padding: 56px 24px 24px 24px;
}

.reviews-list {
    display: flex;
    column-gap: 28px;
    margin-bottom: 50px;
}

.reviews-list-avatar {
    top: -43px;
    left: 140px;
}

.leave-review-btn {
    font-size: 18px;
    width: 222px;
    height: 50px;
    padding: 14px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
    color: #ffffff;
    background-color: #fd9222;
}

/* ============== /DESKTOP REVIEWS ============== */
    
}



