/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
}

.accent-color {
    color: #fd9222;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 367px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* ============== MOBILE HEADER ============== */

.menu {
    display: none;
}

.social-list {
    display: none;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    padding-top: 20px;
    padding-bottom: 14px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #111111;
}

.logo-icon {
    fill: #fcf1e0;
    stroke: #fd9222;
    margin-left: 4px;
}

.mobile-menu-open-btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    stroke: #111111;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}

@media screen and (min-width: 1168px) {
    .container {
        max-width: 1168px;
    }
}

